.header{
    font-weight: bold;
    background: #0b2e13;
    color: #ffffff;
    padding-left: 5px
}

.page-home{
    margin-top: 70px;
}

.btn{
    width: 200px;
}

.message{
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 70%;
}

.total{
    margin-top: 20px;
    width: 200px
}

.total-header{
    text-align: center;
    font-weight: bold;
}

.product-image{
    width: 50px;
}


